<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.orion.workshiftmanager"
    android:versionCode="1"
    android:versionName="0.2">

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="16" />

    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <!-- Permission usata per la sveglia -->
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />

    <android:uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <android:uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <android:uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".WorkShiftManager"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".WorkShiftManagerSetting"
            android:label="@string/title_activity_application_setting" />
        <activity
            android:name=".selection.MultiSelectionMenu"
            android:label="@string/title_activity_multi_selection_menu" />
        <activity
            android:name=".manageworkshift.ManageWorkShift"
            android:label="@string/title_activity_manage_work_shift" />
        <activity
            android:name=".util.dev.DevelopmentDBUtility"
            android:label="@string/title_activity_development_dbutility" />
        <activity
            android:name=".manageworkshift.CreateWorkShift"
            android:label="@string/title_activity_create_work_shift" />
        <activity
            android:name=".display.DisplayWorkShift"
            android:label="@string/title_activity_display_work_shift" />
        <activity
            android:name=".manageworkshift.SelectHours"
            android:label="@string/title_activity_select_hours" />
        <activity
            android:name=".manageworkshift.AddOvertime"
            android:label="@string/title_activity_add_overtime" />
        <activity
            android:name=".manageworkshift.ManageOvertime"
            android:label="@string/title_activity_manage_overtime" />
        <activity
            android:name=".selection.MounthSelection"
            android:label="@string/title_activity_mounth_selection" />
        <activity
            android:name=".display.DisplayYear"
            android:label="@string/title_activity_visual_year" />
        <activity
            android:name=".manageworkshift.StarlingHours"
            android:label="@string/title_activity_starling_hours" />
        <activity
            android:name=".manageworkshift.SelectOvertime"
            android:label="@string/title_activity_select_overtime" />
        <activity
            android:name=".DisplaySettimana"
            android:label="@string/title_activity_display_settimana"></activity>

    </application>

</manifest>
